body
{
    background-image: url("Backgrounds/home.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1
{
    text-align: left;
    color:darkgoldenrod;
    background-color:black;
}


td{
    padding: 12px;
    align-items:center;
    color: gold;
    background-color: black;
    border: 1px solid white;
}
a{
    padding: 20px;
    color:gold;
    font-size: 25 px;
    text-decoration: none;
}
.tab
{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid red;
}
.div
{
    color: gold;
    position: relative;
    float: right;
    border: 1px solid white;
    background-color: black;
    padding: 12px;
}
a:hover
{
    background-color: silver;
    color: red;
    border: 1px solid white;
}
.DIV
{
    color: gold;
    text-align:center;
    font-size: 50 px;
    position: absolute;
    bottom: 0;  
    left: 30%;
}
p
{
    color: white;
    background-color: black;
    position: relative;
    float: left;
} 
.blink
{
    
        animation: blinker 0.6s linear infinite;
        color: gold;
        font-size: 20px;
        font-weight: bold;
        font-family: sans-serif;

}
 @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
