body
{
    background-image: url("Backgrounds/home.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1
{
    text-align: left;
    color:darkgoldenrod;
    background-color:black;
}
h2
{
    text-align: center;
    color:black;
    
}

td{
    padding: 12px;
    align-items:center;
    color: gold;
     background-color: black;
    border: 1px solid white;
}
a{
    padding: 15px;
    color:gold;
    font-size: 20px;
    text-decoration: none;
}
.tab
{
    border: 1px white;
     position: relative;
    float: right;
    
}
}
a:hover
{
    background-color: silver;
    color: red;
    border: 1px solid white;
}
.div
{
    color: gold;
    background-color: black;
    position: relative;
    float:right;
    padding: 30px;
    border: 1px solid white;
    padding: 12px;
}
p
{
    font-size: 18px;
    color: white;
    position: relative;
    float: right; 
    background-color: black;
}



